[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
seaborn = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
mlxtend = "*"
texttable = "*"
statsmodels = "*"
scipy = "*"
psutil = "*"
tensorflow = "*"
gensim = "*"
joblib = "*"
fastdtw = "*"
tqdm = "*"
python-Levenshtein = "*"
python-levenshtein-wheels = "*"
libs = "*"
qap = "*"

[dev-packages]

[requires]
python_version = "3.9"
